@media screen and (max-width: 500px) {
    .cabecalho {
        display: flex;
        padding: 10%;
        align-items: center;
        width: 20px;
        height: 20px;
    }
    .cabecalho h1 {
        color: var(--cortitulo);
        font-size: 20px;
    }
    .container-input {
        display: inline;
        font-size: 11px;
    }
    #output{
        border: none;
        border-radius: none;
        width: 100px;
        height: 100px;
    }
    #output h2 {
        margin-top: 50px;
    }
    #output img, h2, span {
        display: none;
    }
    #input-texto, #output-texto {
        width: 60%;
        height: 200px;
    }
    .container-bnt button {
        width: 120px;
        height: 50px;
    }
    .rodape {
        width: 310px;
    }
}